In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
df = pd.read_csv('data/dirty_data.csv')

In [24]:
df.describe

<bound method NDFrame.describe of           id  host_id    host_name neighbourhood_group       neighbourhood  \
0       2539     2787         John            Brooklyn          Kensington
1       2595     2845     Jennifer           Manhattan             Midtown
2       3647     4632    Elisabeth           Manhattan              Harlem
3       3831     4869  LisaRoxanne            Brooklyn        Clinton Hill
4       5022     7192        Laura           Manhattan         East Harlem
...      ...      ...          ...                 ...                 ...
1203  512775  2396295      Richard              Queens    Long Island City
1204  513343  2528671       Dennis            Brooklyn    Prospect Heights
1205  513688  2530670      Tiffany            Brooklyn         Boerum Hill
1206  514457  2096690      Richard            Brooklyn  Bedford-Stuyvesant
1207  514548  2533991       Amanda            Brooklyn            Bushwick

            room_type  price  minimum_nights  number_of_reviews  last_review  \
0        Private room    149               1                  9      43392.0
1     Entire home/apt    225               1                 45      43606.0
2        Private room    150               3                  0          NaN
3     Entire home/apt     89               1                270      43651.0
4     Entire home/apt     80              10                  9      43423.0
...               ...    ...             ...                ...          ...
1203  Entire home/apt    350               2                182      43627.0
1204  Entire home/apt    125              30                  1      41101.0
1205  Entire home/apt    350               2                134      43653.0
1206  Entire home/apt    150              10                 10      43611.0
1207  Entire home/apt    180              30                  0          NaN

      reviews_per_month  calculated_host_listings_count  availability_365  \
0                  0.21                               6               365
1                  0.38                               2               355
2                   NaN                               1               365
3                  4.64                               1               194
4                  0.10                               1                 0
...                 ...                             ...               ...
1203               2.20                               1               272
1204               0.01                               1               341
1205               1.56                               1                56
1206               0.17                               2               185
1207                NaN                               1               352

        rating
0     0.571896
1     0.184032
2     0.027267
3     0.461664
4     0.823074
...        ...
1203  0.424881
1204  0.046641
1205  0.206727
1206  0.482942
1207  0.701032

[1208 rows x 14 columns]>

In [6]:
df['neighbourhood_group'].value_counts()

Brooklynn        570
Manhattan        549
Queens            58
Bronx             17
Staten Island     14
Name: neighbourhood_group, dtype: int64

In [7]:
df['neighbourhood_group'] = df['neighbourhood_group'].replace('Brooklynn', 'Brooklyn')

In [8]:
df['neighbourhood_group'].value_counts()

Brooklyn         570
Manhattan        549
Queens            58
Bronx             17
Staten Island     14
Name: neighbourhood_group, dtype: int64

In [9]:
df

,id,host_id,host_name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,rating
0,*2539,2787,John,Brooklyn,Kensington,Privaate room,149,1,9,43392.0,0.21,6,365,0.571896
1,2595,2845,Jennifer,Manhattan,Midtown,Entire home/apt,225,1,45,43606.0,0.38,2,355,0.184032
2,3647,4632,Elisabeth,Manhattan,Harlem,Privaate room,150,3,0,NaN,NaN,1,365,0.027267
3,3831,4869,LisaRoxanne,Brooklyn,Clinton Hill,Entire home/apt,89,1,270,43651.0,4.64,1,194,0.461664
4,5022,7192,Laura,Manhattan,East Harlem,Entire home/apt,80,10,9,43423.0,0.10,1,0,0.823074
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1203,512775,2396295,Richard,Queens,Long Island City,Entire home/apt,350,2,182,43627.0,2.20,1,272,0.424881
1204,513343,2528671,Dennis,Brooklyn,Prospect Heights,Entire home/apt,125,30,1,41101.0,0.01,1,341,0.046641
1205,513688,2530670,Tiffany,Brooklyn,Boerum Hill,Entire home/apt,350,2,134,43653.0,1.56,1,56,0.206727
1206,514457,2096690,Richard,Brooklyn,Bedford-Stuyvesant,Entire home/apt,150,10,10,43611.0,0.17,2,185,0.482942
1207,514548,2533991,Amanda,Brooklyn,Bushwick,Entire home/apt,180,30,0,NaN,NaN,1,352,0.701032

In [10]:
df['room_type'] = df['room_type'].replace('Privaate room', 'Private room')

In [11]:
df['id'] = df['id'].replace('\*','', regex=True)

In [12]:
df

,id,host_id,host_name,neighbourhood_group,neighbourhood,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,rating
0,2539,2787,John,Brooklyn,Kensington,Private room,149,1,9,43392.0,0.21,6,365,0.571896
1,2595,2845,Jennifer,Manhattan,Midtown,Entire home/apt,225,1,45,43606.0,0.38,2,355,0.184032
2,3647,4632,Elisabeth,Manhattan,Harlem,Private room,150,3,0,NaN,NaN,1,365,0.027267
3,3831,4869,LisaRoxanne,Brooklyn,Clinton Hill,Entire home/apt,89,1,270,43651.0,4.64,1,194,0.461664
4,5022,7192,Laura,Manhattan,East Harlem,Entire home/apt,80,10,9,43423.0,0.10,1,0,0.823074
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1203,512775,2396295,Richard,Queens,Long Island City,Entire home/apt,350,2,182,43627.0,2.20,1,272,0.424881
1204,513343,2528671,Dennis,Brooklyn,Prospect Heights,Entire home/apt,125,30,1,41101.0,0.01,1,341,0.046641
1205,513688,2530670,Tiffany,Brooklyn,Boerum Hill,Entire home/apt,350,2,134,43653.0,1.56,1,56,0.206727
1206,514457,2096690,Richard,Brooklyn,Bedford-Stuyvesant,Entire home/apt,150,10,10,43611.0,0.17,2,185,0.482942
1207,514548,2533991,Amanda,Brooklyn,Bushwick,Entire home/apt,180,30,0,NaN,NaN,1,352,0.701032

In [13]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1203    False
1204    False
1205    False
1206    False
1207    False
Length: 1208, dtype: bool

In [14]:
df.duplicated().sum()

0

In [15]:
df.isnull().sum()

id                                 0
host_id                            0
host_name                          1
neighbourhood_group                0
neighbourhood                      0
room_type                          0
price                              0
minimum_nights                     0
number_of_reviews                  0
last_review                       50
reviews_per_month                 50
calculated_host_listings_count     0
availability_365                   0
rating                             0
dtype: int64

In [16]:
df.isnull().sum().sum()

101

In [17]:
df_no_null = df.fillna(value = 0)

In [18]:
df_no_null.isnull().sum().sum()

0

In [19]:
df_no_null.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1208 entries, 0 to 1207
Data columns (total 14 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              1208 non-null   object
 1   host_id                         1208 non-null   int64
 2   host_name                       1208 non-null   object
 3   neighbourhood_group             1208 non-null   object
 4   neighbourhood                   1208 non-null   object
 5   room_type                       1208 non-null   object
 6   price                           1208 non-null   int64
 7   minimum_nights                  1208 non-null   int64
 8   number_of_reviews               1208 non-null   int64
 9   last_review                     1208 non-null   float64
 10  reviews_per_month               1208 non-null   float64
 11  calculated_host_listings_count  1208 non-null   int64
 12  availability_365                1208 non-null   int64
 13  rating                          1208 non-null   float64
dtypes: float64(3), int64(6), object(5)
memory usage: 132.2+ KB

## **What’s the average room price in each borough?**

In [20]:
df2 = df_no_null.groupby('neighbourhood_group')['price'].mean()

In [21]:
df2

neighbourhood_group
Bronx             67.647059
Brooklyn         148.764912
Manhattan        181.994536
Queens            96.103448
Staten Island     75.214286
Name: price, dtype: float64

## **What type of room costs the most? The least?**

In [22]:
df3 = df_no_null.groupby(['room_type'])['price'].max()

In [23]:
df3

room_type
Entire home/apt    2000
Private room       3000
Shared room         115
Name: price, dtype: int64